@font-face {
  font-family: mvfaseyha;
  src: url('./mv_faseyha.ttf');
}

@font-face {
  font-family: Faruma;
  src: url('./Faruma.ttf');
}

body {
  font-family: mvfaseyha, sans-serif !important;
  line-height: 1.7 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

.retracted {
  color: red;
  text-align: center;
}
